.toolbar__container {
    position: absolute;
    z-index: 100;
    & > * {
        margin: 0 15px;
        
    }
    & mat-toolbar {
        z-index: 100;
    }
    .mobile-title {
        display: none;
    }
}
    .list-item{
    
    &:hover {
        cursor: pointer;
        background-color: #3f51b5;
        color: white;
    }

    .header-image{
        height: 40px;
        width: 40px;
        background-position: center;
        background-size: contain;
        border-radius: 30px;
        margin: 0 15px;
    }
}

cdk-virtual-scroll-viewport {
    min-height: 93.6vh;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(98vh);
    z-index: 0;

    &::-webkit-scrollbar{
        width: 4px;
    }
    &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 15px #0078ff;
        -webkit-box-shadow: inset 0 0 15px #0078ff;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #f5f5f5;
        border-radius: 20px;
    } 
}

main {
    background-color: #0078ff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .article__container{
        min-height: 98vh;
        display: flex;
        position: relative;
        overflow: hidden;
        scroll-snap-align: center;
        // scroll-snap-stop: ;
        
        .img__section{
            display: flex;
            width: 50%;
            overflow: hidden;

            .blur {
                position: absolute;
                width: 100%;
                height: 100%;
                filter: blur(10px);
                -webkit-filter: blur(10px);
                transform: scale(1.1);
                -ms-transform: scale(1.1); /* IE 9 */
                -webkit-transform: scale(1.1);
                background-clip: padding-box;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .img__container {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                .img-border {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    overflow: hidden;
                    height: 80%;
                    width: 80%;
                    border-radius: 10px;
                    padding: 15px;
                    position: relative;
                    img {
                      transition: all 1s;
                      align-self: center;
                      height: auto;
                      width: auto;
                      max-width: 100%;
                      max-height: 100%;
                      z-index: 20;
                      border-radius: 10px;
                    }
                }
            }
        }

        .img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .gradient-fade {
            background: rgba(245,245,245,0);
            background: -moz-linear-gradient(left, rgba(245,245,245,0) 0%, rgba(245,245,245,0.28) 28%, rgba(0,120,255,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,245,245,0)), color-stop(28%, rgba(245,245,245,0.28)), color-stop(100%, rgba(0,120,255,1)));
            background: -webkit-linear-gradient(left, rgba(245,245,245,0) 0%, rgba(245,245,245,0.28) 28%, rgba(0,120,255,1) 100%);
            background: -o-linear-gradient(left, rgba(245,245,245,0) 0%, rgba(245,245,245,0.28) 28%, rgba(0,120,255,1) 100%);
            background: -ms-linear-gradient(left, rgba(245,245,245,0) 0%, rgba(245,245,245,0.28) 28%, rgba(0,120,255,1) 100%);
            background: linear-gradient(to right, rgba(245,245,245,0) 0%, rgba(245,245,245,0.28) 28%, rgba(0,120,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#0078ff', GradientType=1 );
            position: absolute;
            width: 30vw;
            height: 100%;
            right: 0px;
        }

        .card__section {
            flex-grow: 1;
            height: 100vh;
            width: 50%;
            margin: 0 50px 0 0;

            .card__container {
                justify-content: center;
                align-content: center;
                align-items: center;
                padding-left: 0px;
                width: 100%;
                height: 100%;
                display: flex;
                position: relative;
                padding: 30px;
                
                mat-card {
                    max-height: 500px;
                    height: auto;
                    max-width: 802px;
                    overflow: hidden;
                    background-color: #f5f5f5;
                    
                    mat-card-header{
                        position: absolute;
                        top: 0;
                        width: 100%;
                        left: 0;
                        height: 247px;
                        // position: relative;
                        overflow: hidden;
                        background: #ffffff;
                        .row__container{
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            .top-row, .mid-row, .bottom-row {
                                padding: 0 25px;
                                width: 100%;
                                max-width: 802px;
                                position: relative;
                                display: flex;
                            }
                            .top-row {
                                margin-top: 15px;
                                .source-logo {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    img {
                                        max-width: 300px;
                                        max-height: 70px;
                                    }
                                }
                            }
                            .mid-row {
                                justify-content: center;
                                align-content: center;
                                .article-title {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-overflow: ellipsis;
                                    word-wrap: break-word;
                                    font-size: 30px;
                                    font-weight: 500;
                                    max-width: 802px;
                                }
                            }
                            .bottom-row {
                                color: rgba($color: #000000, $alpha: 0.45);
                                .article-publish-date, .article-publish-time {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                    }
                    mat-card-content{
                        margin-top: 250px;
                        background-color: #f5f5f5;
                        padding: 15px;
                        position: relative;
                        min-width: 380px;
                        // min-width: 802px;

                        & > * {
                            max-width: 780px;
                        }

                        .row__container {
                            position: relative;
                            width: 100%;
                            overflow: hidden;
                            .top-row {
                                .article-description {
                                    font-size: 17px;
                                    max-height: 180px;
                                    color: rgba($color: #000000, $alpha: 0.70)
                                }
                            }
                            .bottom-row {
                                margin: 15px 0 0 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;

                                button {
                                    z-index: 20;
                                }

                                .gradient-fade {
                                    position: absolute;
                                    top: -15px;
                                    left: 0;
                                    width: 100%;
                                    height: 160%;
                                    z-index: 15;
                                    background: rgb(245,245,245);
                                    background: linear-gradient(0deg, rgba(245,245,245,1) 50%, rgba(254,254,254,0) 100%);
                                }
                                

                            }
                        }
    
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 860px) {

// Articles Styling
    .article__container {
        flex-wrap: wrap;
        .img__section, .card__section {
            width: 100% !important;
            height: auto !important;
        }
        .img__section{
            overflow: visible !important;
            .img__container {
                position: relative;
                top: 40px;
                z-index: 10;
                .img-border {
                    width: 96% !important;
                }
            }
        }
        .card__section {
            margin: auto !important;
            .card__container {
                position: relative;
                min-height: 60vh;
                width: auto !important;
                mat-card {
                    position: relative;
                    top: -72px;
                    width: 80%;
                    z-index: 20;

                }
            }
        }
    }
}
@media only screen and (max-width: 599px){
// Articles Stylings
    .article__container {

        .card__section {
            .card__container{
                padding: 0 !important;
                mat-card {
                    width: 90% !important;
                }
            }
        }
    }
}

// Toolbar Shrinking
@media only screen and (max-width: 502px){
    .toolbar__container {
        position: absolute;
        z-index: 100;
        & > * {
            margin: 0 15px;
            
        }
        & mat-toolbar {
            z-index: 100;
        }
        .desktop-title{
            display: none;
        }
        .mobile-title{
            display: contents;
        }
    }
}
@media only screen and (max-width: 425px){
// Articles Stylings
    .article__container {
        .img__section {
            overflow: visible !important;
            .img__container {
                position: relative;
                top: 0px;
                z-index: 10;
                .img-border {
                    padding: 0 !important;
                    width: 100% !important;
                }
            }
        }
        .card__section {

            .card__container{
                padding: 30px 0 0 0 !important;
                mat-card {
                    width: 99% !important;
                    mat-card-header {
                        .row__container{
                            .top-row {
                                .source-logo {
                                    img {
                                        max-width: 180px !important;
                                    }
                                }
                            }
                            .mid-row {
                                .article-title {
                                    font-size: 25px !important;
                                }
                            }
                        }
                    }
                    mat-card-content{
                        min-width: 80% !important;
                    }
                }
            }
        }
    }
}

